UPSTAGE_API_KEY=
LLAMA_CLOUD_API_KEY=

AZURE_DOCUMENT_INTELLIGENCE_ENDPOINT=
AZURE_DOCUMENT_INTELLIGENCE_API_KEY=

GEMINI_API_KEY=

# if needed
OPENAI_API_KEY=
CLAUDE_API_KEY=

# Hugging Face settings to avoid XetHub DNS issues
HF_HUB_ETAG_TIMEOUT=60
HF_HUB_DOWNLOAD_TIMEOUT=300
HUGGING_FACE_HUB_TOKEN=
HF_HUB_DISABLE_SYMLINKS_WARNING=1
HF_HUB_DISABLE_EXPERIMENTAL_WARNING=1
HF_HUB_DISABLE_TELEMETRY=1
HF_HUB_OFFLINE=0